/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: blue;
  margin: 0;
}

#timer {
  position: absolute;
  font: sans-serif;
  font-size: 30px;
  top: 100px;
}

.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 40%;
  margin-left: -50px;
  margin-top: -50px;
  border: 2px solid #a1a1a1;
  padding: 10px 25px;
  background: black;
  width: 40px;
  border-radius: 100px;
}

#friends,
#friends2,
#friends3,
#friends4, {
  position: absolute;
  color: red;

}

.progressBar {
  width: 400px;
  margin-top: 10px;
  height: 22px;
  border: 1px solid #111;
  background-color: #292929;
}

.progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
}
